<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>开发商名</th>
        <th>城市</th>
        <th>详细地址</th>
        <th>手机</th>
        <th>座机</th>
        <th>
            <a class="btn btn-sm btn-success" ui-sref="dashboard.developer.add">创建开发商</a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="developer in developers">
        <td>{{developer.name}}</td>
        <td>{{developer.address.city}}</td>
        <td>{{developer.address.text}}</td>
        <td>{{developer.mobile}}</td>
        <td>{{developer.tel}}</td>
        <td>
            <a class="btn btn-sm btn-default" ng-click="edit(developer._id)">管理配置</a>
        </td>
    </tr>
    </tbody>
</table>