<div class="col-md-10">
    <section class="content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">添加角色</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">角色名称:</label>
                        <div class="col-md-4">
                            <input type="text" name="name" id="name" class="form-control" ng-model="role.name" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type" class="col-md-2 control-label">角色描述:</label>
                        <div class="col-md-4">
                            <input type="text" name="description" id="type" class="form-control" ng-model="role.description"/>
                        </div>
                    </div>
                </form>

                <uib-accordion close-others="oneAtATime">
                    <uib-accordion-group heading="代理店管理">
                        <div class="checkbox">
                        	<label>
                        		<input type="checkbox" value="" id="add">添加代理店
                        	</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="upd">更新代理店
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="del">删除代理店
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="add-outlet">添加门店
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="del-outlet">删除门店
                            </label>
                        </div>
                    </uib-accordion-group>
                    <uib-accordion-group heading="楼盘管理">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="add_project">添加楼盘
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="upd_project">更新楼盘
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="del_project">删除楼盘
                            </label>
                        </div>
                    </uib-accordion-group>
                    <uib-accordion-group heading="房源管理">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="add_house">添加房源
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="upd_house">更新房源
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" id="del_house">删除房源
                            </label>
                        </div>
                    </uib-accordion-group>
                </uib-accordion>

            </div>
        </div>
    </section>
</div>