<div class="col-md-10">
    <section class="content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">系统资源访问控制类别设定<span ng-click="toggle()" class="glyphicon glyphicon-plus btn-link pull-right" aria-hidden="true">添加类别</span></h3>
                <ul style="color: red;">
                    <li ng-repeat="e in validate">
                        {{e}}
                    </li>
                </ul>
            </div>
            <div class="panel-body">

                <form name="categoryForm" class="form-inline" role="form" ng-show='showAdd' style="padding-bottom: 10px;" novalidate>
                	<div class="form-group">
                		<label class="sr-only" for="code">编码</label>
                		<input type="text" class="form-control input-sm" name="code" id="code" placeholder="编码" ng-model="category.code" required />
                	</div>
                    <div class="form-group">
                        <label class="sr-only" for="name">表示名</label>
                        <input type="text" class="form-control input-sm" name="name" id="name" placeholder="表示名" ng-model="category.name" required />
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="description">概要</label>
                        <input type="text" class="form-control input-sm" name="description" id="description" placeholder="概要"
                               ng-model="category.description"
                               ng-maxlength="30"/>
                    </div>
                	<button type="submit" class="btn btn-sm btn-success" ng-click="addCategory()" >保存分类情报</button>
                </form>



                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default" ng-repeat="e in entries">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{e.code}}" aria-expanded="true" aria-controls="collapseOne">
                                    {{e.name}} ({{e.description}})
                                </a>
                                <span class="glyphicon glyphicon-plus block btn-link pull-right" aria-hidden="true" ng-click="addEntry(e.code, e.name)">添加条目</span>
                            </h4>
                        </div>
                        <div id="{{e.code}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li ng-repeat="o in items | filterBy:['category.code']: e.code">
                                        {{o.name}} <span>:</span> [{{o.code}}]
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>