.login-box {
    border: dashed;
    padding: 30px;
    margin-top: 7%;
}

input.ng-invalid {
    border: 1px solid red;
}

input.ng-valid {
    border: 1px solid green;
}

input.ng-dirty {

}

input.ng-pristine {

}