<div>



    <button uib-tooltip="tooltip" class="btn btn-default">
        tooltip
    </button>

    <button uib-popover="popover" class="btn btn-default">
        popover
    </button>





</div>


<div>
    <script type="text/ng-template" id="alert.html">
        <div class="alert" style="background-color:#fa39c3;color:white" role="alert">
            <div ng-transclude></div>
        </div>
    </script>


    <uib-alert template-url="alert.html">A happy alert!</uib-alert>
    <button type="button" class='btn btn-default' ng-click="addAlert()">Add Alert</button>
    <button type="button" class='btn btn-default' ng-click="lodash()">lodash</button>

</div>
