<div class="col-md-10">
    <section class="content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{node.name}}:添加角色</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="name" class="col-md-2 control-label">角色名称:</label>
                        <div class="col-md-4">
                            <input type="text" name="name" id="name" class="form-control" ng-model="role.name" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type" class="col-md-2 control-label">角色类型:</label>
                        <div class="col-md-4">
                            <input type="text" name="type" id="type" class="form-control" ng-model="role.type" required="required"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--特权设定-->
        <div class="panel panel-default">
        	  <div class="panel-heading">
        			<h3 class="panel-title">角色对节点未分配的操作控制</h3>
        	  </div>
        	  <div class="panel-body">
                  <div ng-repeat="p in role.available">
                    <td><input type="checkbox" checklist-model="role.stashed" checklist-value="p.code"> {{p.label}}</td>
                  </div>
                  <div class="panel-footer">
                      <button type="button" class="btn btn-default" ng-click="assigin()">添加权限</button>
                      <button type="button" class="btn btn-default" ng-click="revoke()">取消权限</button>
                  </div>
                  <div ng-repeat="p in role.assigned">
                      <input type="checkbox" checklist-model="role.stashed" checklist-value="p.code"> {{p.label}}
                  </div>
        	  </div>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="create()">创建角色</button>
        </div>

    </section>
</div>



