<div class="col-md-10">
    <section class="content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">角色对节点未分配的操作控制</h3>
            </div>
            <div class="panel-body">
                <div ng-repeat="u in users.available">
                    <td><input type="checkbox" checklist-model="users.stashed" checklist-value="u._id"> {{u.name}}</td>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-default" ng-click="assigin()">添加用户</button>
                    <button type="button" class="btn btn-default" ng-click="revoke()">移除用户</button>
                </div>
                <div ng-repeat="u in users.assigned">
                    <input type="checkbox" checklist-model="users.stashed" checklist-value="u._id"> {{u.name}}
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="confirm()">添加用户</button>
            </div>
        </div>
    </section>
</div>