<div class="col-md-10">
    <section class="content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{node_name}}:角色一览</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                	<thead>
                		<tr>
                            <th>角色所属</th>
                			<th>角色名称</th>
                            <th>角色描述</th>
                            <th></th>
                		</tr>
                	</thead>
                	<tbody>
                		<tr ng-repeat="role in roles">
                			<td>{{role.parent.shortName}}</td>
                            <td>{{role.name}}</td>
                            <td>{{role._id}}</td>
                            <td>
                               <input type="button" class="btn btn-sm btn-success" value="添加用户" ng-click="addUser(role._id, role.parentId)"/>
                                <input type="button" class="btn btn-sm btn-default" value="详细" ng-click="detail(role._id)"/>
                            </td>
                		</tr>
                	</tbody>
                </table>
            </div>
        </div>
    </section>
</div>