<div class="col-md-2">
    <aside class="sidebar">
        <nav class="sidebar-nav">
            <ul class="metismenu" id="menu2">
                <li><a ng-click="doBasic(node._id)">基本情报</a></li>
                <li><a ng-click="listUser(node._id)">用户-览</a></li>
                <li><a ng-click="listRole(node._id)">角色-览</a></li>
                <li><a ng-click="addUser(node._id)">添加用户</a></li>
                <li><a ng-click="addRole(node._id)">添加角色</a></li>
                <li><a ng-click="settingPermission(node._id)">访问控制</a></li>
            </ul>
        </nav>
    </aside>
</div>