<ul class=metismenu id="menu2">


    <!--<div ng-repeat="d in distributors">-->
        <li ng-repeat="d in distributors">
            <a href="#" aria-expanded="false" ng-click="goDistributorBoard(d._id)">{{d.name}}<span class="glyphicon arrow"></span></a>
            <!--<ul aria-expanded="false">-->
                <!--<li ng-repeat="o in outlets[d._id]" ng-click="goOutletBoard(o._id)">-->
                    <!--<a href="#">{{o.name}}</a>-->
                <!--</li>-->
            <!--</ul>-->
        </li>
    <!--</div>-->


    <!--<div ng-repeat="o in outlets[d._id]">-->
        <!--<a href="#">{{o.name}}</a>-->
    <!--</div>-->
    <!--<li ng-repeat="o in outlets[d._id]">-->
    <!--<a href="#">{{o.name}}</a>-->
    <!--</li>-->



    <!--<li>-->
        <!--<a href="#" aria-expanded="false">阿童木吉林总公司<span class="glyphicon arrow"></span></a>-->
        <!--<ul aria-expanded="false">-->
            <!--<li><a href="#">item 2.1</a></li>-->
            <!--<li><a href="#">item 2.2</a></li>-->
            <!--<li><a href="#">item 2.3</a></li>-->
            <!--<li><a href="#">item 2.4</a></li>-->
        <!--</ul>-->
    <!--</li>-->

    <!--<li class="active">-->
        <!--<a href="#" aria-expanded="false">阿童木大连总公司 <span class="glyphicon arrow"></span></a>-->
        <!--<ul aria-expanded="false">-->
            <!--&lt;!&ndash;<li><a href="#">黑石礁分店</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">数码广场店</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">马兰店</a></li>&ndash;&gt;-->
        <!--</ul>-->
    <!--</li>-->
    <!--<li>-->
        <!--<a href="#" aria-expanded="false">阿童木太原总公司 <span class="glyphicon arrow"></span></a>-->
        <!--<ul aria-expanded="false">-->
            <!--<li><a href="#">馍馍分店</a></li>-->
            <!--<li><a href="#">黄海店</a></li>-->
            <!--<li>-->
                <!--<a href="#" aria-expanded="false">Menu 1.3 <span class="fa plus-times"></span></a>-->
                <!--<ul aria-expanded="false">-->
                    <!--<li><a href="#">item 1.3.1</a></li>-->
                    <!--<li><a href="#">item 1.3.2</a></li>-->
                    <!--<li><a href="#">item 1.3.3</a></li>-->
                    <!--<li><a href="#">item 1.3.4</a></li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="#">item 1.4</a></li>-->
            <!--<li>-->
                <!--<a href="#" aria-expanded="false">Menu 1.5 <span class="fa plus-minus"></span></a>-->
                <!--<ul aria-expanded="false">-->
                    <!--<li><a href="#">item 1.5.1</a></li>-->
                    <!--<li><a href="#">item 1.5.2</a></li>-->
                    <!--<li><a href="#">item 1.5.3</a></li>-->
                    <!--<li><a href="#">item 1.5.4</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</li>-->

</ul>
