<div class="col-md-2">
    <aside class="sidebar">
        <nav class="sidebar-nav">
            <ul class="metismenu" id="menu2">
                <li><a ng-click="doBasic()">基本情报</a></li>
                <li><a ng-click="listUser()">用户-览</a></li>
                <li><a ng-click="addUser()">添加用户</a></li>
                <li><a ng-click="listRole()">角色-览</a></li>
                <li><a ng-click="addRole()">添加角色</a></li>
                <li><a ng-click="settingPermission()">访问控制</a></li>
            </ul>
        </nav>
    </aside>
</div>